{
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": 0,
    "no-warning-comments": 1,
    "no-unused-vars": 2,
  }
}
