.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          flex-wrap: wrap;
}

.input-container {
  width: 100%;
  min-height: 300px;
  position: relative;
}
.output-container {
  width: 100%;
  min-height: 300px;
  position: relative;
}
.toolbox {
  width: 100%;
}
.toolbox .tool {
  float: left;
}

#input, #output {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media(min-width: 640px) {
  .container {
    height: 99vh;
  }
  .input-container {
    width: 50%;
    -webkit-order: 1;
            order: 1;
  }
  .output-container {
    width: 30%;
    -webkit-order: 2;
            order: 2;
  }
  .toolbox {
    width: 20%;
    -webkit-order: 3;
            order: 3;
  }
  .toolbox .tool {
    float: none;
  }
}

.toolbox .tool {
  padding: 2px 5px;
  margin: 1px;
}

.toolbox .option {
  border: solid 1px #eeeeee;
  outline: none;
}

#input, #output {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  font-size: smaller;
  font-family: "Lucida Console", "Monaco", monospace
}

.runner {
  width: 95%;
  height: 40px;
  margin: 10px auto;
  font-size: larger;
}

.runner #run {
  width: 100%;
  height: 100%;
  background: white;
  border: solid 1px #a0a0a0;
  border-radius: 5px;
}

.runner #run small {
  font-size: smaller;
}
